* {
  font-family: "Alan Sans";
}

*:not(input) {

  text-transform: uppercase;
}

.animated-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.animated-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.animated-button:hover::after {
  left: 0;
}

.animated-button:hover {
  color: white;
  border: 1px solid white;
}